---
Title: Cake.DocFx
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        The DocFx Addin for <a href="http://cakebuild.net/">Cake</a> allows you to generated API documentation directly from .NET source code.
    </p>
</div>